SensorSimulator/src/META-INF/wsdl/192.168.112.132_8084/Sensors.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.org/">

<xs:element name="getSensorData" type="tns:getSensorData" />

<xs:element name="getSensorDataResponse" type="tns:getSensorDataResponse" />

<xs:complexType name="getSensorData">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
<xs:element name="arg2" type="xs:float" />
<xs:element name="arg3" type="xs:int" />
<xs:element name="arg4" type="xs:int" />
<xs:element name="arg5" type="xs:int" />
<xs:element name="arg6" type="xs:int" />
<xs:element name="arg7" type="xs:int" />
<xs:element name="arg8" type="xs:int" />
<xs:element name="arg9" type="xs:int" />
<xs:element name="arg10" type="xs:int" />
<xs:element name="arg11" type="xs:int" />
<xs:element name="arg12" type="xs:int" />
<xs:element name="arg13" type="xs:string" minOccurs="0" />
<xs:element name="arg14" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSensorDataResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>